anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
debugpy
decorator
defusedxml
Django
executing
fastjsonschema
fqdn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-events
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
mssql-django
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
overrides
packaging
pandocfilters
parso
pip
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyodbc
python-dateutil
python-json-logger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
setuptools
six
sniffio
soupsieve
sqlparse
stack-data
terminado
tinycss2
tornado
traitlets
types-python-dateutil
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
gunicorn
django-cors-headers
azure-storage-blob
django-storages[azure]